#referencia{
    height: 30px;
    width: 250px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;
    text-transform: uppercase;
}
.numeros, .numerosT{
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    align-content: center;
    margin: 0;
    padding: 0; 
}
.numeros{
    border: 2px solid gray;
    border-radius: 5px;
}
.numerosT{
    padding: 2px;
    justify-content: center;
    height: auto;
}
.botoes{
    margin: 25px 0;
    padding: 10px 20px;
    background-color: transparent;
    border: solid 1px black;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}
.botoes:hover{
    background-color: black;
    color: white;
}
.botoes:active{
    background-color: white;
    color: black;
}
